node_modules/
lib/
dist/
.env
.env.*
!.env.example
serviceAccountKey.json
*.serviceAccountKey.json
acreditaciones.serviceAccountKey.json
leon.serviceAccountKey.json
*.log
.DS_Store

# Firebase
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*
